<a href="https://colab.research.google.com/github/ravi-kiran-iiml/my_git/blob/master/python_tutorial_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# first program

print("Hello World!")
print("Meoww Meoww")

Hello World!
Meoww Meoww

In [2]:
# arithmetic operations

# add
print(2 + 3)

# subtract
print(5 - 7)

# multiply
print(2 * 10)

# divide
print(10 / 3)

# integer divide
print(10 // 3)

# remainder
print(10 % 3)

# exponent
print(3**10)

5
-2
20
3.3333333333333335
3
1
59049

In [5]:
# input method

user_input = input("Enter your name: ")
print("User's name is: " + user_input)

Enter your name: Suresh
User's name is: Suresh

In [6]:
# int method
int(11.33)

11

In [0]:
# variable names using underscores
 var_a = 10
 _var_a = 20
 var_a_ = 30

In [0]:
# comments

# This is an inline comment
"""
This is a multi
line comment
"""

In [12]:
# data types

print(type("string"))
print(type(25))
print(type(20.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
# comparison operators

a = 5
b = 7

print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

False
False
True
False
True
True

In [14]:
# in operations

string = "code"

print(string in "Unicode")
print(string in "UniCode")
print(string not in "CoDecademy")

True
False
True